@import '../index.scss';

.carousel {
    .carousel-inner {
        .carousel-item {
            img {
                //position: relative;
                height: 18vw;
                width: 100%;
            }
            .carousel-caption {
                left: 3rem;
                display: flex;
                text-align: left;
                h3 {
                    color: #ffff;
                    font-size: 3vw;
                    font-weight: bold;
                    text-shadow: 0.3vw 0.3vw $primary-color;
                    //width: max-content;
                }
            }
        }
    }
}