@import '../index.scss';

.contenedor {
    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
        background-color: $primary-color;
        color: $secondary-color;
        text-align: center;
        padding: 2vh 0;
        margin-bottom: 0;
        vertical-align: middle;

        span {
            font-size: 1.7vw;
        }

    }
    .logo {
        margin-left: 1vw;
        height: 1vw;
        vertical-align: middle;
    }
    
}