@import '../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.contenedor {
    margin-top: 25px;
    .row-title {
        .col-title {
            display: flex;
            justify-content: center;
            .title {
                font-size: 32px;
                color: $primary-color;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Open Sans Condensed', sans-serif;
            }
        }
    }
}